* {
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
}

.col {
    background-color:darkseagreen;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.col-2 {
    background-color:darkseagreen;
    flex: 2;
    padding: 10px;
    margin: 10px;
}