.search button{
    background-color:gainsboro;
    color:darkcyan;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: darkcyan;
    border-radius: 10px;
    padding: 2px 25px;

}

.plus button{
    background-color:darkcyan;
    color:white;
    border-width: 3px;
    border-color:darkcyan;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
}

.create-account button{
    background-color:dodgerblue;
    color:white;
    border-width: 3px;
    border-color: black;
    box-shadow: 5px 5px 5px black;
    padding: 10px 15px;
    font-size: 15px;
}