*{
    margin: 0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

li {
    display: inline-flex;

}

h4 {
    color: rgb(167, 167, 167);
    font-weight: normal;
    padding: 5px 0px;
}

.navbar {
    background-color:#000000;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
}

.navleft {
    background-color:#006726;
    display: flex;
    align-items: center;
}

.navleft h1{
    color: white;
}

.navleft a{
    color: white;
    text-decoration: none;
}

.navleft ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.navright {
    background-color:brown;
    height: 70px;
    width: 100px;
    display: flex;
    align-items: center;
}

/* .top-nav{
    background-color: gray;
    height: 50px;
    width: auto;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}


.top-nav a{
    color: white;
    text-decoration: none;
}


.nav-links{
    color: white;
    font-size: 15px;
    margin-top: 14px;
    padding: 0px 10px;
    display: flex;

}

.sign-out{
    margin-left: 20px;

}

.btn{
    background-color:darkcyan;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 3px 2px black;
} */


.container{
    width: 700px;
    height: 600px;
    padding-top: 30px;
    margin: 0 auto;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.about-me{
    background: linear-gradient(#1886bd 20%,#ffffff 0%);
    width: 350px;
    height: 300px;
    margin-left: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}


.about-icon{
    background-color:#006726;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 10px;
}

.about-icon img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.about-text{
    height: 150px;
    width: 350px;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 10px;

}

.about-text img{
    width: 10px;
    height: 15px;
    vertical-align: -webkit-baseline-middle;
}

.friend-requests{
    background: linear-gradient(hsl(0, 0%, 0%) 20%,#ffffff 0%);
    width: 250px;
    height: 200px;
    margin-left: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: white;
}

.friend-requests h3{
    text-indent: 5px;
}

.new-requests{
    width: 250px;
    height: 160px;
    margin-top: 20px;
    color: black;
    display: flex;
    justify-content:flex-start;
    font-size: 20px;

}

.new-requests img{
    width: 40px;
    border-radius: 50%;
    margin: 10px 10px;
} 

.new-requests li{
    align-items: center;

}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 2px;
    background-color: lightgray;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept-deny {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 1;
}

.education{
    background: linear-gradient(hsl(0, 0%, 0%) 20%,#ffffff 0%);
    width: 350px;
    height: 250px;
    margin-left: 10px;
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: white;
    order: 0;
    text-indent: 10px;
}

.education-text{
    width: 350px;
    height: 180px;
    padding-top: 20px;
    color: black;

}

.connections{
    background: linear-gradient(hsl(0, 0%, 0%) 15%,#ffffff 0%);
    width: 250px;
    height: 320px;
    margin-left: 10px;
    margin-top: -10%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.connections-list{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.connections h3{
    color: white;
    text-indent: 5px;
    margin-top: 12px;
}

.connections-circle {
    border-radius: 50%;
    width: 30px;
    height: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: lightgray;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.connections-list img{
    width: 40px;
    border-radius: 50%;
    margin: 10px 10px;
} 

.connections-list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.connections-list li{
    align-items: center;
}

.view-more {
    border-top: 3px solid black;
    width: 250px;
    padding: 10px 0px;
    text-indent: 10px;
}